@model List<CraigsListClone.Models.PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meg's List</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">@Html.ActionLink("Create Post", "Create", "Post")</p>
    }
</div>

<div class="row">
    <div class="col-lg-6">
        @foreach (var c in ViewBag.Cities)
        {
            <span class="mar-lr-30">@Html.ActionLink((string)c.Name, "CitySort", "Home", new { id = (int)c.Id }, null) </span>
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <h3>For Sale</h3>
        @foreach (var ca in ViewBag.CatsForSale)
        {
            @Html.ActionLink((string)ca.Name + " ", "CategorySort", "Home", new { id = (int)ca.Id, sortby = "none", viewSelect = "list" }, null)
        }
        <hr />
        @foreach (var p in ViewBag.ForSale)
        {
            <div class="row">
                <div class="col-md-12">
                    <strong><a href="/p/@p.Id">@p.Title</a> - @p.CatName</strong>
                    <p>
                        @p.Desc
                    </p>
                    <p>
                        $@p.Cost
                    </p>
                    <p>
                        @p.Owner.UserName, @p.CityName
                    </p>
                </div>
            </div>
            <hr />
        }
    </div>
    <div class="col-lg-4">
        <h3>For Rent</h3>
        @foreach (var ca in ViewBag.CatsForRent)
        {
            @Html.ActionLink((string)ca.Name, "CategorySort", "Home", new { id = (int)ca.Id, sortby = "none", viewSelect = "list" }, null)
        }
        <hr />
        @foreach (var p in ViewBag.ForRent)
        {
            <div class="row">
                <div class="col-md-12">
                    <strong><a href="/p/@p.Id">@p.Title</a> - @p.CatName</strong>
                    <p>
                        @p.Desc
                    </p>
                    <p>
                        $@p.Cost
                    </p>
                    <p>
                        @p.Owner.UserName
                    </p>
                </div>
            </div>
            <hr />
        }
    </div>
    <div class="col-lg-4">
        <h3>Services</h3>
        @foreach (var ca in ViewBag.CatServices)
        {
            @Html.ActionLink((string)ca.Name, "CategorySort", "Home", new { id = (int)ca.Id, sortby = "none", viewSelect = "list" }, null)
        }
        <hr />
        @foreach (var p in ViewBag.Services)
        {
            <div class="row">
                <div class="col-md-12">
                    <strong><a href="/p/@p.Id">@p.Title</a> - @p.CatName</strong>
                    <p>
                        @p.Desc
                    </p>
                    <p>
                        $@p.Cost
                    </p>
                    <p>
                        @p.Owner.UserName
                    </p>
                </div>
            </div>
            <hr />
        }
    </div>
</div>