@model IEnumerable<CraigsListClone.Models.Post>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@Html.ActionLink("Create Post", "Create", "Post")</p>
</div>

@foreach (var p in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h2><a href="/p/@p.Id">@p.Title</a></h2>
            <p>
                @p.Desc
            </p>
            <p>
                @p.Cost
            </p>
            <p>
                @p.Owner.UserName
            </p>
        </div>
    </div>
}