@model CraigsListClone.Models.Post

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header-h text-center">Post an Item</h1>

            @using (Html.BeginForm())
            {
                <div class="col-md-8 col-md-offset-2">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <!---------TITLE--------->
                        @Html.LabelFor(model => model.Title)<br />
                        <div class="form-group">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <!----------DESC--------->
                        @Html.LabelFor(model => model.Desc)<br />
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Desc, new { Class = "form-control ans-textarea", Rows = "4" })
                            @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <!----------COST--------->
                        @Html.LabelFor(model => model.Cost)<br />
                        <div class="form-group">
                            @Html.EditorFor(model => model.Cost, new { Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="btnpad">
                            <!---------SUBMIT------------>
                            <div>
                                <button type="submit" class="btn btn-toolbar btn-success">
                                    <span class="glyphicon glyphicon-check"></span>
                                </button>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>
</div>
